:root {
  --primary-color: rgb(22, 129, 223);
  --primary-color-darker: rgb(14, 62, 104);
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  outline: 0;
  padding: 0;
  background-color: var(--primary-color);
}
.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}
form input:focus {
  outline: 1px solid var(--primary-color);
}
form button {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  cursor: pointer;
  margin-top: 35px;
}
form button:hover {
  background: var(--primary-color-darker);
}
form button:active {
  background: black;
}
